/*General Body code*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(36, 36, 36);
}

/*Text colour throughout doc*/
p {
  color: white;
}

/*Jumbotron header*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 0;
  border-bottom: 10px solid rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Time font size*/
.weekday {
  font-size: 35px;
}

/*GRID*/
/*Rows*/
.row {
  white-space: pre-wrap;
  height: 120px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/*Container*/
.container-xl {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/*Left and right columns*/
.col-xl-1 {
  height: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: lightblue;
  text-align: center;  
}

/*Left and rigt column text*/
.col-xl-1 p {
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/*Middle Columns*/
.col-xl-10 {
  border-top: solid rgb(34, 130, 255) 5px;  
  border-right: solid rgb(34, 130, 255) 5px;
  border-left: solid rgb(34, 130, 255) 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: inherit;
  background-color: #88ffa5;
  font-size: 20px;
}

/*Special class for the bottom rows*/
.bottomRow {
  border-bottom: solid rgb(34, 130, 255) 5px;  
  margin-bottom: 50px;
}

/*For hiding current hour*/
.hidden {
  display: none;
}

/*Sets border for right side column*/
.rightColumn {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top: solid rgb(34, 130, 255) 5px;
  border-right: solid rgb(34, 130, 255) 5px;
}

/* Sets border for left side columns*/
.leftColumn {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top: solid rgb(34, 130, 255) 5px;
  border-left: solid rgb(34, 130, 255) 5px;
}

/*SAVE BUTTON*/
.saveBtn {
  height: 60px;
  width: 60px;
  background-color: transparent;  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:active { 
    transform: translateY(4px);
}

/*FORM*/
.formSubmit {
  font-size: 25px;
  height: 90%;
  width: inherit;  
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-weight: bold;
  text-align: left;
  background-color: inherit;
}

.formSubmit:focus {
  outline: none;
  background-color: inherit;
}


